@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700;800&family=Noto+Sans:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Libre Franklin", sans-serif;

  --color-primary: #002f5a;
  --color-primary-dark: #001c3a;
  --color-gov-blue: #002f5a;
  --color-gov-blue-dark: #003366;
  --color-gov-blue-vivid: #1351B4;
  
  --color-secondary: #006d35;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #89f6a5;
  --color-on-secondary-container: #007238;
  
  --color-background: #f9f9f9;
  --color-on-background: #1a1c1c;
  --color-surface: #ffffff;
  --color-on-surface: #1a1c1c;
  --color-on-surface-variant: #424750;
  
  --color-state-novo: #008844;
  --color-state-bom: #2E9D62;
  --color-state-regular: #FFCC00;
  --color-state-pessimo: #D93B3B;
  --color-state-sucata: #737373;
}

body {
  background-color: var(--color-background);
  color: var(--color-on-background);
  font-family: var(--font-sans);
}

.font-display {
  font-family: var(--font-display);
}
